@import '../../assets/scss/variables';

.rs-payback-banner {
    .rs-payback-banner-content {
        border-radius: 4px;
        background-color: $color-pbblue;
        padding: 15px;
        font-family: $font-stack-UnitOT-regular;
        font-weight: $font-weight-medium;

        .rs-payback-banner-content-header {
            color: $color-blue;
            display: flex;
            justify-content: space-between;  
            font-size: 20px;
            line-height: 2;          
            
            @include breakpoint(bp-max-480px) {
                flex-direction: column;
            }

            &-headline {
                margin: 24px 15px 35px 24px;

                @include breakpoint(bp-max-768px) {
                    margin-top: 15px;
                    margin-bottom: 0px;
                }

                @include breakpoint(bp-max-480px) {
                    margin-top: 15px;
                    margin-bottom: 35px;
                }
            }

            &-image {
                height: 100px;
                width: 228px;
                margin-right: 65px;
                align-self: bottom;
                object-fit: contain;

                @include breakpoint(bp-max-480px) {
                    margin-left: 15px;
                    margin-right: 46px;
                    flex-direction: column;
                }
                
            }
           
        }

        .rs-payback-banner-content-footer {
            background-color: $color-white;
            border-radius: 4px;
            color: $color-grey-darkest;
            display: flex;
            justify-content: space-between;            
            font-size: 16px;          
            line-height: 1.63;     
            
            @include breakpoint(bp-max-768px) {
                flex-direction: column;
            }

            &-text  {
                margin: 22px 15px 22px 15px;

                @include breakpoint(bp-max-480px) {
                    margin: 24px 15px 0px 15px;
                }
            }
        
            &-button {
                width: 263px;
                height: 40px;
                margin: 22px 15px 22px 15px;
                border-radius: 2px;
                border: 0;
                cursor: pointer;
                background-color: $color-blue;

                font-size: 18px;  
                font-family: $font-stack-UnitOT-regular;
                font-weight: $font-weight-medium;              
                color: $color-white;

                @include breakpoint(bp-max-768px) {
                    width: auto;
                }

                @include breakpoint(bp-max-480px) {
                    margin: 24px 15px 15px 15px;
                } 
            }
        }
    }
}