@import '../../assets/scss/variables';

#rs-payback {
  .rs-payback__error {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-pbblue;
    position: relative;
    width: 100%;
    font-family: $font-stack-UnitOT-regular;
    font-weight: $font-weight-bold;
    color: $color-shark-black;

    &-content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height:232px;
      @include breakpoint(bp-768px) {
        height:273px;
      }
    }

    &-img {
      @include background-image-retina('../../assets/images/payback-2013-0500-pointee-png', 'png', 208px, 154px);
      background-repeat: no-repeat;
      width: 208px;
      height: 153px;
      margin-right: 12px;      
      flex: 0 0 auto;
    }

    &-text-container {
      text-align: center;
      @include breakpoint(bp-768px) {
        text-align: left;
      }
    }

    &-headline {
      @include x-rem(font-size, 20px);
      margin: 0 0 5px;
      @include breakpoint(bp-768px) {
        @include x-rem(font-size, 24px);
      }
    }

    &-subheadline,
    &-paragraph {
      margin: 0;
      @include x-rem(font-size, 16px);
    }
  }

  .bg-pbblue { 
    .rs-payback__error {
      width: calc(100% + 30px);
      margin: 0 -15px;
      @include breakpoint(bp-768px) {
        width: calc(100% + 40px);
        margin: 0 -20px;
      }

      &-content {
        border-top: 1px solid $color-grey-seperator;
        margin: 0 10px -15px;
        @include breakpoint(bp-768px) {
          margin-bottom: -20px;
        }
      }
    }
  }
}
