@import '../../assets/scss/variables';
/* Need for DUC as blocked element */
#rs-payback {
    .rs-loading-spinner {
        background-color: $color-grey-darkest;
        border-radius: 50%;
        bottom: 0;
        height: 110px;
        left: 0;
        margin: auto;
        position: fixed;
        right: 0;
        top: 0;
        width: 110px;
        z-index: 1510;

        .rs-loading-spinner__background {
            background-color: rgba(47,79,79,.6);
            bottom: 0;
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
        }

        .rs-loading-spinner__svg {
            left: 50%;
            position: relative;
            text-align: center;
            top: 50%;
            transform: translate(-50%, -50%);

            .rs-loading-spinner__logo {
                fill: $color-white;
                height: 40px;
                width: 40px;
            }
        }

        .rs-fading-bubbles {
            height: 80px;
            left: 14px;
            position: relative;
            top: -30px;
            width: 80px;

            .rs-fading-bubbles__bubble {
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;

                &:before {
                    @include animation(rs-fading-bubbles-delay 0.8s infinite ease-in-out both);
                    background-color: $color-white;
                    border-radius: 100%;
                    content: '';
                    display: block;
                    height: 10%;
                    margin: 0 auto;
                    width: 10%;
                }
            }
            //Variables for generating the bubbles
            $class-name: rs-fading-bubbles__bubble-- !default;
            $bubbles: 18 !default;
            $time: -0.85s !default;
            $degrees: 20deg !default;
            //For loop to iterate and generate needed classes
            @for $i from 1 through $bubbles {
                .#{$class-name}#{$i} {
                    transform: rotate($degrees);

                    &:before {
                        animation-delay: $time;
                    }
                }
                $time: $time + 0.05;
                $degrees: $degrees + 20;
            }
        }
    }
    //Temp Fade for better visibility
    .rs-loading-spinner--fade {
        background-color: $color-black;
        bottom: 0;
        left: 0;
        opacity: 0.3;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1500;
    }
    //Animation keyframes
    @include keyframes(rs-fading-bubbles-delay) {
        0%,
        100%,
        39% {
            opacity: 0;
        }

        40% {
            opacity: 1;
        }
    }
}
