.rs-payback__serviceView-container{
    width: 440px;
}
#rs-payback .rs-payback__section--payback-points {
    font-family: 'UnitRoundedOT', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #1d97e2;
    margin-left: 0;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    border-style: solid;
    border-color: #cccccc;
}
#rs-payback .rs-payback__section--payback-points .rs-payback__error {
    width: 100%;
    margin: 0;
}
#rs-payback .rs-payback__section--payback-points .rs-payback__error-content {
    height: inherit;
    border: none;
    padding-bottom: 15px;
}
#rs-payback .payback-title-headline {
    /*@extend %payback-title-parent;*/
    font-weight: 700;
    line-height: 1.09;
    text-align: left;
    color: #313132;
    /*border-bottom: 1px solid #bed1ea;*/
    font-size: 22px;
    /*font-size: 1.375rem;*/
    flex-basis: calc(100% + 30px);
    margin: 0 -15px 35px 0px;
    /*padding: 0 15px 15px;*/
}
#rs-payback .payback-title-headline-colon {
    display: none;
}
#rs-payback .payback-title-totalpoints {
    /*@extend %payback-title-parent;*/
    font-weight: 700;
    line-height: 1.09;
    text-align: left;
    color: #313132;
    font-size: 30px;
    /*font-size: 2.375rem;*/
    flex-grow: 1;
    padding-bottom: 15px;
}
#rs-payback .payback-sub-container-box {
    display: table;
    margin: 0 auto 15px;
    width: 100%;
}
#rs-payback .payback-sub-container {
    flex-basis: 100%;
}
#rs-payback .rs-point-block__row, #rs-payback .rs-point-block__row--available {
    font-size: 16px;
    /*font-size: 1rem;*/
    color: #313132;
    text-align: left;
    display: table-row;
}
#rs-payback .rs-point-block__row--available {
    font-weight: 700;
}
#rs-payback .rs-point-block__cell, #rs-payback .rs-point-block__cell--label {
    display: table-cell;
    vertical-align: top;
}
#rs-payback .rs-point-block__cell--label {
    text-align: left;
    font-size: 20px;
}
#rs-payback .rs-point-block__locked-wrapper > div {
    display: inline;
    vertical-align: top;
}
#rs-payback .rs-point-block__icon {
    padding: 0 31px 0 8px;
}
#rs-payback .rs-payback__section--payback-points .rs-points-infoicon {
    cursor: pointer;
    vertical-align: sub;
}
#rs-payback .rs-payback__section--payback-points .rs-points-infoicon path {
    fill: none;
    stroke: #313132;
    stroke-width: 30px;
    stroke-opacity: 1;
}
#rs-payback .rs-payback__section--payback-points .rs-points-infoicon path.rs-payback-infoicon-info {
    fill: #313132;
    stroke-width: 7px;
}
#rs-payback .rs-payback__section--payback-points .rs-points-tooltip-content {
    font-size: 14px;
    /*font-size: 0.875rem;*/
    text-align: left;
    color: #0046aa;
}
#rs-payback .rs-payback__section--payback-points .rs-payback__hint .rs-payback__hint-paragraph + .rs-bubble {
    right: -42px;
    left: unset;
    width: 252px;
    top: 48px;
    border-color: #c1d6e7;
    background-color: #edf6ff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}
#rs-payback .rs-payback__section--payback-points .rs-payback__hint .rs-payback__hint-paragraph + .rs-bubble .rs-bubble__triangle--outer {
    right: 70px;
}
#rs-payback .rs-payback__section--payback-points .rs-payback__hint .rs-payback__hint-paragraph + .rs-bubble .rs-bubble__triangle--inner {
    right: 71px;
}
#rs-payback .rs-payback__section--payback-points .rs-payback__hint .rs-payback__hint-paragraph + .rs-bubble a {
    text-decoration: none;
    color: #0046aa;
}
#rs-payback .rs-payback__section--payback-points .rs-bubble-content--points {
    padding: 15px 11px 17px 17px;
}
#rs-payback .rs-payback__points-link-container {
    text-align: left;
    width: 100%;
}
#rs-payback .rs-payback__points-link-container .rs-payback__points-link {
    color: #313132;
}
