@import '../../assets/scss/variables';

// @section                 All the buttons

/* Need for DUC as blocked element */
#rs-payback,
.payback-kv-button {

  // Common button styles
  .rs-btn {
    @include border-radius(2px);
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-family: $font-stack-UnitOT-regular;
    font-weight: $font-weight-normal;
    text-decoration: none;
    user-select: none;

    &:focus {
      outline: 0;
    }
  }

  // Colors
  .rs-btn--white {
    background-color: $color-white;
    border: 1px solid $color-grey-medium;
    color: $color-grey-darkest;

    &:link,
    &:visited,
    &:active,
    &:focus,
    &:hover {
      color: $color-grey-darkest;

      .rs-glyphiconext,
      .rs-media__body {
        color: $color-grey-darkest;
      }
    }

    &:hover {
      background-color: $color-white;
      border-color: $color-rewered;
      color: $color-rewered;

      .rs-glyphiconext,
      .rs-media__body {
        color: $color-rewered;
      }
    }

    .rs-media__body {
      border-color: $color-grey-medium;
    }

    &.rs-selected {
      border-color: $color-rewered;

      &:hover {
        .rs-glyphiconext,
        .rs-media__body {
          color: $color-rewered;
        }
      }
    }
  }

  .rs-btn--red {
    background-color: $color-rewered;
    border-color: $color-rewered;
    color: $color-white;

    &:link,
    &:visited,
    &:active,
    &:focus,
    &:hover {
      color: $color-white;

      .rs-glyphiconext,
      .rs-media__body {
        color: $color-white;
      }
    }

    &:hover {
      background-color: $color-rewered-hover;
      border-color: $color-rewered-hover;
    }

    .rs-media__body {
      border-left-color: $color-white;
    }
  }

  .rs-btn--green {
    background-color: $color-rewered;
    border-color: $color-rewered;
    color: $color-white;

    &:link,
    &:visited,
    &:active,
    &:focus,
    &:hover {
      color: $color-white;

      .rs-glyphiconext,
      .rs-media__body {
        color: $color-white;
      }
    }

    &:hover {
      background-color: $color-rewered-hover;
      border-color: $color-rewered-hover;
    }

    .rs-media__body {
      border-left-color: $color-white;
    }
  }

  .rs-btn--pampas {
    background-color: $color-pampas;
    border: 1px solid $color-coralreef;
    color: $color-grey-darkest;

    &:link,
    &:visited,
    &:active,
    &:focus,
    &:hover {
      color: $color-grey-darkest;

      .rs-glyphiconext,
      .rs-media__body {
        color: $color-grey-darkest;
      }
    }

    &:hover {
      background-color: $color-pampas;
      border-color: $color-coralreef;
    }

    .rs-media__body {
      border-left-color: $color-white;
    }
  }

  .rs-btn--beige {
    background-color: $color-moon-mist;
    border: 1px solid $color-donkeybrown;
    color: $color-grey-darkest;

    &:link,
    &:visited,
    &:active,
    &:focus,
    &:hover {
      color: $color-grey-darkest;

      .rs-glyphiconext,
      .rs-media__body {
        color: $color-grey-darkest;
      }
    }

    &:hover {
      background-color: $color-moon-mist;
      border-color: $color-donkeybrown;
    }

    .rs-media__body {
      border-left-color: $color-white;
    }
  }

  .rs-btn:disabled,
  .rs-btn--disabled,
  .rs-btn--grey {
    background-color: $color-grey-medium;
    border-color: $color-grey-medium;
    color: $color-white;
    cursor: default;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $color-white;
    }

    &:hover {
      background-color: $color-grey-medium;
      border-color: $color-grey-medium;
    }
  }

  .rs-btn--grey {
    cursor: pointer;
  }

  // Big Buttons
  .rs-btn--large {
    @include x-rem(font-size, 16px);
    @include x-rem(height, 44px);
    @include x-rem(line-height, 44px);
    @include x-rem(padding, 0 10px);
    margin-left: 10px;
    overflow: hidden;
    width: auto;

    &:first-child {
      margin-left: 0;
    }

    .rs-media__body {
      @include x-rem(font-size, 12px);
      @include x-rem(padding-left, 10px);
      border-left: 1px solid $color-grey-medium;
      float: left;
      line-height: 1.25;
      margin-top: 5px;
      text-align: left;
      width: auto;
    }
  }
}
