@import '../../assets/scss/variables';
/* Need for DUC as blocked element */
#rs-payback {
  .rs-payback-form__checkbox-label {
    cursor: pointer;
    display: inline-block;
    min-height: 24px;
    padding-left: 48px;
    position: relative;
    text-align: left;
    @include breakpoint(bp-580px) {
      line-height: 1.4;
    }

    &::before {
      background-color: $color-white;
      border: 1px solid $color-lima;
      border-radius: 4px;
      content: '';
      display: inline-block;
      height: 24px;
      left: 0;
      margin-right: 20px;
      position: absolute;
      top: 0;
      width: 24px;
    }
  }
  .rs-payback-form__checkbox {
    opacity: 0;
    position: absolute;

    &:checked + .rs-payback-form__checkbox-label::before {
      background-image: url('../../assets/images/icon-valid.svg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 15px 11px;
    }
  }

  @include breakpoint(bp-768px) {
    .rs-payback-form__checkbox-group {
      width: 100%;

      @include breakpoint(bp-768px) {
        width: calc(100% - 215px);
      }
    }

    .rs-payback-form__checkbox-group + .rs-accordion .rs-accordion__title {
      position: absolute;
      right: 26px;
      top: 20px;
    }
  }
}
