@import '../../assets/scss/variables';

#rs-payback-number {
    // Common button styles
    .rs-payback-number__button {
        @include border-radius(2px);
        border: 0;
        cursor: pointer;
        display: inline-block;
        font-family: $font-stack-UnitOT-regular;
        font-weight: $font-weight-medium;
        text-decoration: none;
        user-select: none;
        position: relative;
        overflow: hidden;        

        &-checkmark {
            position: absolute;
            top: 17px;
            left: 52px;
        }
    }

    // white animation button
    .rs-payback-number__button--white {
        background-color: $color-white;
        color: $color-rewered;
        border: 0;
        outline: none;
        cursor: default;
        opacity: 1;
        transition: all 1s ease, color 0s;
        animation: fadeOut 1s forwards ease;
        animation-delay: 1s;

        &-checkmark {
            margin-top: 6px;
        }

        #check {    
            fill: none;
            stroke: $color-rewered;
            stroke-width: 20;
            stroke-linecap: round;
            stroke-dasharray: 180;
            stroke-dashoffset: 180;
            animation: draw 1.2s forwards ease;
        }

        @media all and (-ms-high-contrast: none){
            #check{
                stroke-dashoffset: 0;
                animation: none;
            }
        }
        @keyframes draw {
            from {
                stroke-dashoffset: 180;
            }
            to {
              stroke-dashoffset: 0;
            }
          }       

        @keyframes fadeOut {
            from { 
                opacity: 1;
            }
            to {
                opacity: 1;
            }
        }
    }

    .rs-payback-number__button--green {
        background-color: $color-rewered;
        border-color: $color-rewered;
        color: $color-white;

        outline: none;

        &:hover {
            background-color: $color-rewered-hover;
            border-color: $color-rewered-hover;
        }

        .rs-media__body {
            border-left-color: $color-white;
        }
    }


    .rs-payback-number__button--green:disabled {
        background-color: $color-grey-medium;
        border-color: $color-grey-medium;
        color: $color-white;
        cursor: default;

        &:link,
        &:visited,
        &:hover,
        &:active {
            color: $color-white;
        }

        &:hover {
            background-color: $color-grey-medium;
            border-color: $color-grey-medium;
        }
        
    }

    // This is used to have two instance of green buttons for the animation
    // 'green' is greyed out when disabled ( while user inputs numbers )
    // 'green--animation' is not greyed out when disabled to preserve the animation with a green button
    .rs-payback-number__button--green--animation:disabled {
        background-color: $color-rewered;
        border-color: $color-rewered;
        color: $color-white;
        
        &::after {
            display: block;
            content: "";
            position: absolute;
            border-radius: 80%;
            background-color: $color-white;
            width: 100px;
            height: 100px;
            margin-top: -50px;
            margin-left: -50px;
            
            /* Center the ripple */
            top: 50%;
            left: 50%;          
            animation: ripple 1.5s;
            opacity: 0;
        }
              
        @keyframes ripple {
            from {
                opacity: 0.8;
                transform: scale(0);
            }
            to {
                opacity: 1;
                transform: scale(10);
            }
        }
    }

    // Big Buttons
    .rs-payback-number__button--large {
        @include x-rem(font-size, 18px);
        @include x-rem(height, 48px);
        @include x-rem(line-height, 48px);
        @include x-rem(padding, 0 16px);
        overflow: hidden;
        text-align: center;

        &:first-child {
            margin-left: 0;
        }

        .rs-media__body {
            @include x-rem(font-size, 12px);
            @include x-rem(padding-left, 10px);
            border-left: 1px solid $color-grey-medium;
            float: left;
            line-height: 1.25;
            margin-top: 5px;
            text-align: left;
            width: auto;
        }
    }

    .rs-payback-number__button--large:not(.rs-payback-number__button--stretched) {
        width: auto;
    }

    .rs-payback-number__button--stretched {
        width: 100%;
    }

    .rs-payback-number__button-link {
        @include x-rem(height, 40px);
        @include x-rem(font-size, 16px);
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        font-family: $font-stack-UnitOT-regular;
        color: $color-rewered;
        margin-top: 8px;
        margin-right: 16px;

        /* duplicated from rs-btn because of a special use case where a button element carries the rs-link
        class but is actually represented by a <button> instead of an anchor tag */
        border: 0;
        outline: 0;
        padding: 0;
        cursor: pointer;
        background: transparent;
        user-select: none;
        font-weight: $font-weight-normal;

        &:focus {
            outline: 0;
        }

        &:hover {
            color: $color-rewered-hover;
        }

        &-image {
            width: 24px;
            height: 24px;
            margin-left: -8px;
            margin-right: 8px;
        }
    }
}
