@import '../assets/scss/base';

#rs-payback {
  .rs-payback__section--debug-box {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    height: 100px;
    border: 1px solid $color-curious-blue;
    margin-top: 20px;
    padding: 5px;
    background-color: $color-pbblue;
  }

  @include breakpoint(bp-768px) {
    .rs-payback__section--debug-box {
      flex-wrap: nowrap;
      align-items: flex-start;
    }
  }

  @include breakpoint(bp-1024px) {
    .rs-payback__section--debug-box {
      flex-basis: initial;
    }
  }
}
