@import '../../assets/scss/variables';
/* Need for DUC as blocked element */
#rs-payback {
  .rs-infoicon {
    cursor: pointer;
    vertical-align: sub;

    path {
      fill: $color-grey-darkest;
    }
    path.rs-payback-infoicon-info {
      fill: $color-white;
    }
  }
}
