html {
  box-sizing: border-box;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  margin: 0;
  min-width: 320px;
}

a {
  color: #4a4a4a;
}

a:hover,
a:active,
a:focus {
  color: #cc071e;
}
