.hidden-xs {
  @include breakpoint(bp-max-480px) {
    display: none !important;
  } 
}

.hidden-sm {
  @include breakpoint(bp-range-sm) {
    display: none !important;
  } 
}

.hidden-md {
  @include breakpoint(bp-range-md) {
    display: none !important;
  } 
}

.bg-pbblue {
  background-color: $color-pbblue;
  color: $color-black;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 4px;

  @include breakpoint(bp-768px) {
    padding: 20px;
  }
}