@import './variables';
// HINT
#rs-payback {
  .rs-payback__hint {
    position: relative;

    .rs-payback__hint-paragraph {
      color: $color-curious-blue;
      cursor: pointer;
      display: inline-block;
      margin: 0;
      padding: 0 !important; // todo remove important after old shop monolith is removed
      text-align: left;
      @include x-rem(font-size, 14px);
    }

    .rs-bubble {
      background-color: $color-foam;
      border: 1px solid $color-grey-medium;
      box-shadow: rgba(204, 204, 204, 0.28) 5px 5px 0 0;
      color: $color-cerulean;
      height: 0;
      left: 28px;
      letter-spacing: normal;
      opacity: 0;
      position: absolute;
      top: 33px;
      transition: all 0s ease-in-out;
      width: 0;
      z-index: 9999;

      .rs-bubble__triangle {
        border-style: solid;
        position: absolute;
        height: 0;
        width: 0;
      }

      .rs-bubble__triangle {
        border-color: transparent transparent $color-foam transparent;
        border-width: 0 11px 10px;
        right: 6px;
        top: -10px;
      }

      .rs-bubble__triangle--outer {
        border-color: transparent transparent $color-grey-medium transparent;
        border-width: 0 12.5px 11.5px;
        right: 5px;
        top: -11.5px;
      }

      .rs-bubble-content--default {
        padding: 5px 15px 15px;
      }

      .rs-bubble__detail {
        @include x-rem(font-size, 14px);
        @include x-rem(line-height, 18px);
        margin: 5px 0;
      }

      img {
        height: auto;
        max-width: none;
        width: auto;
      }
    }

    .rs-bubble {
      visibility: hidden;
      width: 270px;
      height: auto;
      transition: opacity 0.25s ease-in-out, visibility 0.25s, width 0s, height 0s;
    }

    

    .rs-payback__hint-paragraph:hover + .rs-bubble,
    .rs-bubble:hover {
      display: block;
      visibility: visible;
      opacity: 1;
    }
  }
}