
/* Need for DUC as blocked element */
#rs-paybackservice {

  box-sizing: border-box;
  & * {
    &,
    &::before,
    &::after {
      box-sizing: inherit;
    }
  }

  &.rs-payback__page-content {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1440px;
  }

  .rs-payback__sidebar,
  #rs-payback {
    flex: 0 0 auto;
    width: 100%;
  }

  .rs-payback__menu {
    background-color: $color-grey-light;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin: 15px 0;
    padding: 0;
    width: 100%;

    .rs-payback__menuitem {
      flex: 0 0 auto;
      font-family: $font-stack-UnitOT-regular;
      font-weight: $font-weight-normal;
      list-style: none;
      margin-left: 0;
      margin-top: 0;
      //padding: 15px 10px 10px;
      line-height: 45px;
      text-align: center;
      width: 50%;

      @include breakpoint(bp-range-md) {
        width: calc(100% * (1/3));
      }

      & + .rs-payback__menuitem {
        border-bottom: 2px solid $color-grey-medium;
      }

      &:first-child {
        background-color: $color-white;
        width: 100%;
        flex: 0 0 auto;
      }

      &:last-child {
        border-bottom: 0;
      }

      &:nth-child(2n) {
        border-right: 1px solid $color-iron;
      }

      @include breakpoint(bp-range-md) {
        &:nth-last-child(-n + 2) {
          border-bottom: 0;
        }

        &:not(:first-child) {
          border-right: 1px solid $color-iron;
        }
      }

      h3,
      a {
        color: $color-grey-darkest;
        display: block;
      }

      h3 {
        font-family: $font-stack-UnitOT-regular;
        font-weight: $font-weight-medium;
        font-size: 20px;
        line-height: 45px;
        margin: 0;
        padding: 0;
      }

      a {
        @include x-rem(font-size,14px);
        text-decoration: none;

        &:hover {
          color: $color-black;
        }
      }
    }

    .rs-payback__menuitem--active {
      a {
        color: $color-rewered;
      }
    }
  }

  @include breakpoint(bp-1024px) {
    &.rs-payback__page-content {
      flex-flow: row;
      flex-wrap: nowrap;
    }

    .rs-payback__sidebar {
      padding-right: 15px;
      width: 250px;

      .rs-payback__menu {
        margin: 15px 0;
        overflow: hidden;
        padding: 0;
        width: 100%;

        .rs-payback__menuitem {
          text-align: left;
          padding-left: 10px;
          width: 100%;

          & + .rs-payback__menuitem {
            border-bottom: 1px solid $color-grey-medium;
            border-right: 0;
          }

          &:nth-child(2n) {
            border-right: 0;
          }

          a {
            font-size: 18px;
          }
        }
      }
    }

    #rs-payback {
      margin-top: 15px;
      width: calc(100% - 250px);
    }
  }
}
