// @section                 REWE Color Palette
//
// @notes                   Color names were given with the help of this tool:
//
//                          http://chir.ag/projects/name-that-color/

// @section                 Default Palette
$color-rewered: #cc071e;
$color-rewered-hover: #a0081a;
//$color-congress-blue: #004a80;
//$color-selective-yellow: #f7c800;
$color-lima: #6fbd14;
$color-lima-hover: #61a71b;
$color-shark-black: #313132;
$color-blue: #0042ad;

// shades of green
$color-ceramic: #fcfff7;
//$color-green-light: #dbeec4;

// kind of very light red
$color-rose-white: #fffbfb;

// kind of very light green
$color-curious-blue: #1d97e2;
$color-zumthor: #edf6ff;
$color-pbblue: #e5ecf6;
$color-payback-blue: #0046aa;

// kind of very light blue
$color-cerulean: #0a9ae0;

// kind of blue
$color-foam: #f1f9fe;

// turquoise
//$color-turquoise: #00b1ae;
//$color-turquoise-light: #99dcdd;
//$color-turquoise-dark: #005058;

// kind of orange
//$color-fire-bush: #e8982a;

// @section                 Shades of Grey
$color-white: #fff;
$color-black: #000;
$color-grey-darkest: #4a4a4a;
$color-grey-dark: #9b9b9b;
$color-grey-medium: #ccc;
$color-grey-seperator: #bed1ea;
//$color-grey-medium2: #d8d8d8;
$color-grey-light: #f5f4f2;
$color-ultralight-grey: #f6f6f6;
//$color-grey-lightest: #fbfaf9;
//$color-grey-rewede-bg: #f2f1ef;
$color-grey-disabled: #dedede;
//$color-nobel: #b9b7b7;
$color-iron: #e4e6e7;
//$color-bandicoot: #827f71;

// sand and beige
$color-ultralight-sand: #f9f8f5;
$color-pampas: #f2f0eb;
$color-coralreef: #c9c1ab;
$color-donkeybrown: #a59873;
$color-moon-mist: #dbd6c7;

// bottom border/shadow of red buttons
//$color-rosewood: #5c000e;
