// @section     Breakpoint Definitions
//
// @usage       @include breakpoint($bp-980px) {
//                  width: 100px;
//               }

$breakpoints: (
    bp-480px: (min-width: 480px),
    bp-580px: (min-width: 580px),
    bp-768px: (min-width: 768px),
    bp-865px: (min-width: 865px),
    bp-992px: (min-width: 992px),
    bp-980px: (min-width: 980px),
    bp-1024px: (min-width: 1024px),
    bp-1070px: (min-width: 1070px),
    bp-1110px: (min-width: 1110px),
    bp-1180px: (min-width: 1180px),
    bp-1240px: (min-width: 1240px),
    bp-1280px: (min-width: 1280px),
    bp-1340px: (min-width: 1340px),
    bp-1440px: (min-width: 1440px),
    bp-1480px: (min-width: 1480px),
    bp-max-480px: (max-width: 480px),
    bp-max-768px: (max-width: 767px),
    bp-max-980px: (max-width: 979px),
    bp-range-sm: '(min-width: 481px) and (max-width: 768px)',
    bp-range-md: '(min-width: 769px) and (max-width: 1023px)',
    bp-range-sm-md: '(min-width: 481px) and (max-width: 1023px)',
) !default;

@mixin breakpoint($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $value: map-get($breakpoints, $breakpoint);
        $query: if(type-of($value) == 'string', $value, inspect($value));
        @media #{$query} {
            @content;
        }
    } @else {
        @warn 'Unkown breakpoint value `#{$breakpoint}`. These breakpoints are available: #{map-keys($breakpoints)}.';
    }
}
