// @section       a small mixin for easy use of rem with px as fallback
//
// @source        https://gist.github.com/davidensinger/5217667
//                http://davidensinger.com/2013/03/using-rems-with-sass/
//
// @usage:        @include x-rem(font-size, 14px)
//                @include x-rem(margin, 0 12px 2 1.2)
//                @include x-rem(padding, 1.5 24px)
//
// thanks to Eric Meyer for https://github.com/ericam/susy
// and Hans Christian Reinl for http://drublic.de/blog/rem-fallback-sass-less/
@mixin x-rem($property, $values) {
    // Create a couple of empty lists as output buffers.
    $base-font-size: 16px !global;
    // should be consistent with your html/body font-size
    $px-values: ();
    $rem-values: ();
    // Loop through the $values list
    @each $value in $values {
        // For each property value, if it's in rem or px, derive both rem and
        // px values for it and add those to the end of the appropriate buffer.
        // Ensure all pixel values are rounded to the nearest pixel.
        //
        // The result of `0px == 0` will be `false` in future releases of Sass.
        // Unitless numbers will no longer be equal to the same numbers with units.
        // http://stackoverflow.com/questions/27071376/sass-mixin-error-because-of-deprecation
        @if index((0, 0), $value) {
            // 0 -- use it without a unit
            $px-values: join($px-values, 0);
            $rem-values: join($rem-values, 0);
        }
        @else if type-of($value) == number and not unitless($value) and unit($value) == px {
            // px value given - calculate rem value from base-font-size
            $new-rem-value: $value / $base-font-size;
            $px-values: join($px-values, round($value));
            $rem-values: join($rem-values, unquote('#{$new-rem-value}rem'));
        }

        @else if type-of($value) == number and not unitless($value) and unit($value) == '%' {
            // % value given - don't add px or rem
            $px-values: join($px-values, #{$value});
            $rem-values: join($rem-values, #{$value});
        }
        @else if $value == auto {
            // auto - don't add px or rem
            $px-values: join($px-values, auto);
            $rem-values: join($rem-values, auto);
        }
        @else {
            // unitless value - use those directly as rem and calculate the px-fallback
            $px-values: join($px-values, round($value * $base-font-size));
            $rem-values: join($rem-values, #{$value}rem);
        }
    }
    // output the converted rules
    #{$property}: $px-values;
    #{$property}: $rem-values;
}
// @section       a small mixin for retina background images
//
// @description             Retina Background Images Mixin
//                          http://chrisltd.com/blog/2013/05/retina-images-sass/
//
// @example code: In your stylesheet, call the  background-image-retina() mixin anywhere instead of using background-image
//
//  .rs-logo {
//      @include background-image-retina(logo, png, 200px, 100px);
//  }
//
//  Will compile to:
//
//  .rs-logo {
//      background-image: url("/dist/app/assets/images/my_image.png");
//  }
//
//  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
//    .rs-logo {
//      background-image: url("/dist/app/assets/images/my_image@2x.png");
//      -webkit-background-size: 200px 100px;
//      -moz-background-size: 200px 100px;
//      -o-background-size: 200px 100px;
//      background-size: 200px 100px;
//    }
//  }
//
@mixin background-image-retina($file, $type, $width, $height) {
    background-image: url($file + '.' + $type);
    @media only screen and (min-resolution: 2),
        only screen and (min-resolution: 2),
        only screen and (min-resolution: 2/1),
        only screen and (min-resolution: 2),
        only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx) {
        /* disabled function-url-quotes */
        background-image: url($file + '@2x.' + $type);
        background-size: $width $height;
        background-size: $width $height;
    }
}
// @section                 a small mixin-set for single oder multi border-radius purposes
@mixin border-radius($radius) {
    border-radius: $radius;
}

@mixin multiple-border-radius($topleft, $topright, $bottomright, $bottomleft) {
    border-radius: $topleft $topright $bottomright $bottomleft;
}

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';
    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};
        @if $i < $max {
            $animations: #{$animations + ', '};
        }
    }
    animation: $animations;
}

@mixin keyframes($animationName) {
    @keyframes #{$animationName} {
        @content;
    }
}
