@import '../../assets/scss/variables';

#rs-payback {
    .rs-payback__triangleButton {
        display: flex;
        align-items: center;
        width: 40px;
        height: 72px;
        border-radius: 2px;
        border: 0;
        padding: 0;
        background-color: $color-white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

        &--left {
            transform: rotate(180deg);
        }

        &-img {
            width: 40px;
            height: 40px;
            fill: $color-grey-darkest;
        }
    }
}
