@import '../../assets/scss/variables';
$button-height: 72px;

#rs-payback {
    .rs-payback__horizontalScroller {
        @include breakpoint(bp-max-768px) {
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;
        }

        &-content {
            margin: 0;
            padding: 0;
            transition: left ease 0.5s;
            @include breakpoint(bp-max-768px) {
                display: flex;
                position: absolute;
            }
        }

        &-button {
            position: absolute;
            top: calc(50% - #{$button-height} / 2);
            @include breakpoint(bp-768px) {
                display:none;
            }
        }

        &-button-right {
            right: 0;
        }
    }
}
