@import '../../assets/scss/variables';

/* Need for DUC as blocked element */
#rs-payback,
.rs-payback-banner{
    .rs-payback__borderlayout {
        border-radius: 2px;
        background-color: $color-white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        width: 100%;

        &-root,
        &-footer,
        &-header {
            width: 100%;
            padding: 16px;
        }

        &-footer {
            border-top: 1px solid $color-iron;
        }

        &-header {
            border-bottom: 1px solid $color-iron;
        }
    }
}
