@import '../../assets/scss/variables';

#rs-payback,
.rs-payback-banner,
.payback-kv-button {
    // Common button styles
    .rs-payback__button {
        @include border-radius(2px);
        border: 0;
        cursor: pointer;
        display: inline-block;
        font-family: $font-stack-UnitOT-regular;
        font-weight: $font-weight-medium;
        text-decoration: none;
        user-select: none;

        &:focus {
            outline: 0;
        }
    }

    // Colors
    .rs-payback__button--white {
        background-color: $color-white;
        border: 1px solid $color-grey-medium;
        color: $color-grey-darkest;

        &:link,
        &:visited,
        &:active,
        &:focus,
        &:hover {
            color: $color-grey-darkest;

            .rs-glyphiconext,
            .rs-media__body {
                color: $color-grey-darkest;
            }
        }

        &:hover {
            background-color: $color-white;
            border-color: $color-rewered;
            color: $color-rewered;

            .rs-glyphiconext,
            .rs-media__body {
                color: $color-rewered;
            }
        }

        .rs-media__body {
            border-color: $color-grey-medium;
        }

        &.rs-selected {
            border-color: $color-rewered;

            &:hover {
                .rs-glyphiconext,
                .rs-media__body {
                    color: $color-rewered;
                }
            }
        }
    }

    .rs-payback__button--red {
        background-color: $color-rewered;
        border-color: $color-rewered;
        color: $color-white;

        &:link,
        &:visited,
        &:active,
        &:focus,
        &:hover {
            color: $color-white;

            .rs-glyphiconext,
            .rs-media__body {
                color: $color-white;
            }
        }

        &:hover {
            background-color: $color-rewered-hover;
            border-color: $color-rewered-hover;
        }

        .rs-media__body {
            border-left-color: $color-white;
        }
    }

    .rs-payback__button--green {
        background-color: $color-rewered;
        border-color: $color-rewered;
        color: $color-white;

        &:link,
        &:visited,
        &:active,
        &:focus,
        &:hover {
            color: $color-white;

            .rs-glyphiconext,
            .rs-media__body {
                color: $color-white;
            }
        }

        &:hover {
            background-color: $color-rewered-hover;
            border-color: $color-rewered-hover;
        }

        .rs-media__body {
            border-left-color: $color-white;
        }
    }

    .rs-payback__button--pampas {
        background-color: $color-pampas;
        border: 1px solid $color-coralreef;
        color: $color-grey-darkest;

        &:link,
        &:visited,
        &:active,
        &:focus,
        &:hover {
            color: $color-grey-darkest;

            .rs-glyphiconext,
            .rs-media__body {
                color: $color-grey-darkest;
            }
        }

        &:hover {
            background-color: $color-pampas;
            border-color: $color-coralreef;
        }

        .rs-media__body {
            border-left-color: $color-white;
        }
    }

    .rs-payback__button--grey {
        background-color: $color-grey-light;
        border: 1px solid $color-grey-medium;
        color: $color-grey-darkest;

        &:link,
        &:visited,
        &:active,
        &:focus,
        &:hover {
            color: $color-grey-darkest;

            .rs-glyphiconext,
            .rs-media__body {
                color: $color-grey-darkest;
            }
        }

        &:hover {
            background-color: $color-grey-light;
            border-color: $color-grey-medium;
        }

        .rs-media__body {
            border-left-color: $color-white;
        }
    }

    .rs-payback__button:disabled,
    .rs-payback__button--disabled {
        background-color: $color-grey-medium;
        border-color: $color-grey-medium;
        color: $color-white;
        cursor: default;

        &:link,
        &:visited,
        &:hover,
        &:active {
            color: $color-white;
        }

        &:hover {
            background-color: $color-grey-medium;
            border-color: $color-grey-medium;
        }
    }

    // Big Buttons
    .rs-payback__button--large {
        @include x-rem(font-size, 18px);
        @include x-rem(height, 48px);
        @include x-rem(line-height, 48px);
        @include x-rem(padding, 0 16px);
        overflow: hidden;
        text-align: center;

        &:first-child {
            margin-left: 0;
        }

        .rs-media__body {
            @include x-rem(font-size, 12px);
            @include x-rem(padding-left, 10px);
            border-left: 1px solid $color-grey-medium;
            float: left;
            line-height: 1.25;
            margin-top: 5px;
            text-align: left;
            width: auto;
        }
    }

    .rs-payback__button--large:not(.rs-payback__button--stretched) {
        width: auto;
    }

    .rs-payback__button--stretched {
        width: 100%;
    }

    .rs-payback__button-link {
        @include x-rem(height, 40px);
        @include x-rem(font-size, 16px);
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        font-family: $font-stack-UnitOT-regular;
        color: $color-rewered;
        margin-top: 8px;
        margin-right: 16px;

        /* duplicated from rs-btn because of a special use case where a button element carries the rs-link
        class but is actually represented by a <button> instead of an anchor tag */
        border: 0;
        outline: 0;
        padding: 0;
        cursor: pointer;
        background: transparent;
        user-select: none;
        font-weight: $font-weight-normal;

        &:focus {
            outline: 0;
        }

        &:hover {
            color: $color-rewered-hover;
        }

        &-image {
            width: 24px;
            height: 24px;
            margin-left: -8px;
            margin-right: 8px;
        }
    }
}
