@import '../../assets/scss/variables';

#rs-payback,
.payback-kv-button {
    .rs-payback__paybackNumberModal {
        font-family: $font-stack-UnitOT-regular;
        color: $color-grey-darkest;

        &-header,
        &-content,
        &-footer {
            display: flex;
            padding: 16px;

            @include breakpoint(bp-768px) {
                padding: 24px;
            }
        }

        &-header {
            position: relative;
            font-size: 18px;
            line-height: normal;
            font-weight: 500;
            padding-right: 48px;

            &-button {
                cursor: pointer;
                visibility: visible;
                border: 0;
                margin: 0;
                padding: 0;
                background-color: transparent;

                &-close {
                    position: absolute;
                    height: 24px;
                    width: 24px;                    
                    top: 15px;
                    right: 16px;
                }

                @include breakpoint(bp-768px) {
                    visibility: hidden;
                }
            }

            @include breakpoint(bp-768px) {
                padding: 20px 24px;
                font-size: 24px;
                line-height: 32px;
            }
        }

        &-content {
            line-height: 24px;
            flex-direction: column;

            > * {
                flex-grow: 1;

                &:not(:first-child) {
                    margin-top: 16px;
                }
            }

            &-info > * {
                vertical-align: middle;

                &:first-child {
                    margin-right: 8px;
                }
            }

            &-info img {
                margin-top: 8px;
            }
        }

        &-footer {
            :last-child {
                margin-left: 24px;
            }
        }
    }
}
