<!doctype html>
<meso-content>
  <style>
    #payback-coupons-iframe,
    .pbModuleContainer {
      height: 300px;
    }
  </style>

  <script type="application/javascript">
    document.addEventListener("DOMContentLoaded", function() {
      return PB.mc.core.Bootstrap.createClient({
        apiKey: '<%- PAYBACK_API_KEY -%>',
        token: PB.mc.core.Bootstrap.oi.token.FROM_PARTNER_SESSION,
        partnerTokenUrlTemplate: '<%- URL_PAYBACK_SESSION_TOKEN_REDIRECT -%>',
        canCreateStrongTokens: false,
        onSuccess(client) {
          client.createModule({
            moduleType: 'coupon',
            selector: '#payback-coupons-iframe',
            height: '300',
            width: '100%; padding: 0',
            contextKey: 'partnerWithPaybackContext',
            options: {},
            onError(errorData) {
              console.error('unable to initialize Coupon module')
              console.error(errorData);
            }
          });
        },
        onError(errorData) {
          console.error('Unable to initialize PB.mc');
          console.error(errorData);
        }
      });
    });
  </script>
  <script type="application/javascript" src="<%- PAYBACK_MCAPI_URL -%>" id="mcApiScript" meso-options="place-in-header"></script>
  <div id="payback-coupons-iframe"></div>
</meso-content>
