<meso-content>
    <meso-include src="http://rewe-duc-base/base/base-include-react-only">Can't load base-include-react-only</meso-include>
    <div class="payback-kv-button">
        <%= htmlWebpackPlugin.options.ejsVarInject["markup"] %>
    </div>

    <script>
        window.__INITIAL_PB_STATE__ = <%= htmlWebpackPlugin.options.ejsVarInject["initialState"] %>
    </script>
    <% for (key in htmlWebpackPlugin.files.css) { %>
        <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet">
    <% } %>
    <% for (key in htmlWebpackPlugin.files.js) { %>
        <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[key] %>"></script>
    <% } %>
</meso-content>
