<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>REWE Lieferservice: Lebensmittel im Online Supermarkt!</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
</head>

<body>
    <meso-include src="http://rewe-duc-base/base/base-include-fonts-e">Can't load base-include-fonts-e</meso-include>
    <meso-include src="http://the-header-service/ui/header-include-reduced">Can't load Header</meso-include>
    <meso-include src="http://rewe-duc-base/base/base-include-react-only/">Can't load base-include-react-only</meso-include>

    <div id="rs-paybackservice" class="rs-payback__page-content">
        <div class="rs-payback__sidebar rs-payback__sidebar--left">
            <nav class="rs-payback__navigation">
                <ul class="rs-payback__menu rs-payback__menu--vertical">
                    <li class="rs-payback__menuitem">
                        <h3>Mein Konto</h3>
                    </li>
                    <li class="rs-payback__menuitem">
                        <a href="#" title="Meine Daten">Meine Daten</a>
                    </li>
                    <li class="rs-payback__menuitem">
                        <a href="#" title="Meine Bestellungen">Meine Bestellungen</a>
                    </li>
                    <li class="rs-payback__menuitem rs-payback__menuitem--active">
                        <a href="#" title="Mein PAYBACK">Mein PAYBACK</a>
                    </li>
                    <li class="rs-payback__menuitem">
                        <a href="#" title="Passwort ändern">Passwort ändern</a>
                    </li>
                    <li class="rs-payback__menuitem">
                        <a href="#" title="Account löschen">Account löschen</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div id="rs-payback">
            <%= htmlWebpackPlugin.options.ejsVarInject["markup"] %>
        </div>
    </div>

    <meso-include src="http://rewe-duc-base/footer">Can't load Footer</meso-include>

    <script>
        window.__INITIAL_PB_STATE__ = <%= htmlWebpackPlugin.options.ejsVarInject["initialState"] %>
    </script>
    <!-- insert CSS and JS bundle assets-->
    <% for (key in htmlWebpackPlugin.files.css) { %>
        <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet">
    <% } %>
    <% for (key in htmlWebpackPlugin.files.js) { %>
        <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[key] %>"></script>
    <% } %>

    <!-- load PB script -->
    <%= htmlWebpackPlugin.options.ejsVarInject["paybackMcApiScript"] %>
</body>

</html>
