<meso-content>
    <!--
		Due to the reason that by default ejs loader html-webpack-plugin 
		evaluates/interprets variables, as a workaround variables for SSR 'markup' and
		'initialState' need to be passed in htmlWebackPlugin using custom ejsVarInject
		options in client.config.js
	-->

    <meso-include src="http://rewe-duc-base/base/base-include-react-only">Can't load base-include-react-only</meso-include>

    <div id="rs-payback-number">
        <%= htmlWebpackPlugin.options.ejsVarInject["markup"] %>
    </div>
    <!-- FIXME: this initial state is probably not required by number meso content -->
    <script>
        window.__INITIAL_PB_STATE__ = <%= htmlWebpackPlugin.options.ejsVarInject["initialState"] %>
    </script>
    <!-- insert CSS and JS bundle assets-->
    <% for (key in htmlWebpackPlugin.files.css) { %>
        <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet">
    <% } %>
    <% for (key in htmlWebpackPlugin.files.js) { %>
        <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[key] %>"></script>
    <% } %>
</meso-content>