<!DOCTYPE html>
<html>
  <head>
    <title>Payback Gallery</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <style>
      body {
        background: #f5f4f2;
      }

      .meso-include {
        max-width: 1480px;
        margin: 50px auto;
      }
    </style>
  </head>

  <body>
    <% if (!show || show == 'kv') { %>
    <div class="meso-include">
      <meso-include src="http://payback-frontend/ui/fragments/kv"></meso-include>
    </div>
    <% } %>

    <% if (!show || show == 'registration-banner') { %>
    <div class="meso-include">
        <meso-include src="http://payback-frontend/ui/fragments/registrationBanner?layout=payback-page"></meso-include>
    </div>
    <div class="meso-include">
      <meso-include src="http://payback-frontend/ui/fragments/registrationBanner"></meso-include>
    </div>
    <% } %>

    <% if (!show || show == 'coupons') { %>
    <div class="meso-include">
      <meso-include src="http://payback-frontend/ui/fragments/coupons"></meso-include>
    </div>
    <% } %>

    <% if (!show || show == 'number') { %>
    <div class="meso-include">
      <form>
        <meso-include src="http://payback-frontend/ui/fragments/number"></meso-include>
        <button type="submit">Post data</button>
      </form>
    </div>
    <% } %>
  </body>
</html>
