<!doctype html>

<html>

<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <style type="text/css">
        body {
            margin: 0
        }

        html,
        head,
        body,
        #iframeTarget,
        .pbModuleContainer {
            height: 100%
        }
    </style>

    <script type="application/javascript">
        function initializeIframe() {
            return PB.mc.core.Bootstrap.createClient({
                apiKey: '<%- PAYBACK_API_KEY -%>',
                token: PB.mc.core.Bootstrap.oi.token.FROM_PARTNER_SESSION,
                partnerTokenUrlTemplate: '<%- URL_PAYBACK_SESSION_TOKEN_REDIRECT -%>',
                canCreateStrongTokens: false,
                onSuccess(client) {
                    client.createModule({
                        moduleType: 'voucher',
                        selector: '#iframeTarget',
                        width: `100%`,
                        height: `100%`,
                        contextKey: 'partnerWithPaybackContext',
                        options: <%- MODULE_OPTIONS -%>,
                        onSuccess(couponModule) {
                        },
                        onError(errorData) {
                            console.error('unable to initialize Coupon module')
                            console.error(errorData);
                        }
                    });
                },
                onError(errorData) {
                    console.error('Unable to initialize PB.mc');
                    console.error(errorData);
                }
            });
        }
    </script>

    <script type="application/javascript" src="<%- PAYBACK_MCAPI_URL -%>" onload="initializeIframe();"></script>
</head>

<body>
    <div id="iframeTarget"></div>
</body>

</html>