<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>REWE Lieferservice: Lebensmittel im Online Supermarkt!</title>
</head>
<body>
    <main>
        <p style="font-size: x-large; font-weight: bold;">Die Aufladung von REWE Guthaben ist momentan aus technischen Gründen in unserer App sowie auf unserer Website nicht möglich.</p>
        <p style="font-size: larger;">Sie können jedoch weiterhin wie gewohnt REWE Guthaben an allen REWE Service-Punkten in unseren Märkten aufladen. Wir entschuldigen uns für die  Unannehmlichkeiten und hoffen, dass Sie diesen Service bald wieder nutzen können.</p>
    </main>
</body>
</html>
