@import '../../assets/scss/variables';
/* Need for DUC as blocked element */
#rs-payback {
    .rs-payback-form__checkbox-icon-label {
        position: relative;
        margin-top: 35px;
        font-size: 18px;
        display: flex;

        input {
            position: absolute;
            opacity: 0;

            &:checked ~ svg {
                display: block;
            }
        }

        > svg {
            height: 24px;
            width: 24px;
            display: none;
            position: absolute;
            left: 0;
            fill: #6FBD14;
        }

        &::before {
            content: '';
            width: 24px;
            height: 24px;
            border: 1px solid #8C8C8C;
            box-sizing: border-box;
            border-radius: 2px;
            margin-right: 8px;
        }

        &:hover::before {
            border: 2px solid #4C4C4C;
        }
    }
}
