@import '../../assets/scss/variables';
#rs-payback {
  .rs-payback__teaserImgText {
    font-family: $font-stack-UnitOT-regular;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    &-imgContainer {
      height: 100px;
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }

    &-img {
      max-height: 100px;
      max-width: 100%;
      text-align: center;
    }

    &-content {
      padding: 20px 15px 40px;
      text-align: left;
      background: $color-white;
      flex: 1 0 auto;
    }

    &-textContainer {
      max-width: 218px;
      width: 100%;
      margin: auto;
    }

    &-headline {
      @include x-rem(font-size, 24px);
      margin: 0 0 10px;
    }
    &-text {
      margin: 0;
    }
  }
}
