@import '../../assets/scss/variables';

#rs-payback,
.rs-payback-banner {
    .rs-payback__blockContent {
        @include x-rem(font-size, 16px);
        @include x-rem(line-height, 24px);
        color: $color-grey-darkest;
        font-family: $font-stack-UnitOT-regular;
        font-weight: $font-weight-normal;
        margin: 0;
    }
}
