@import '../../assets/scss/variables';

/* Need for DUC as blocked element */
#rs-payback,
.payback-kv-button {
  .rs-error {
    align-items: center;
    background: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .rs-error__desc {
    display: inline-block;
    height: 49px;
    line-height: 49px;
    text-align: left;
    vertical-align: middle;
    h2 {
      font-size: 14px;
      font-weight: $font-weight-normal;
      margin: 0;
      padding: 0;
    }
  }
}
