@import '../../assets/scss/variables';

$arrow-top-distance: 20px;
$arrow-size: 17px;

#rs-payback,
.payback-kv-button {
    .rs-payback__infoPopover {
        display: inline-block;
        position: relative;
        height: 24px;
        width: 24px;

        &-button {
            cursor: pointer;
            border: 0;
            margin: 0;
            padding: 0;
            background-color: transparent;

            &-info,
            &-close {
                height: 24px;
                width: 24px;
            }

            &-close {
                position: absolute;
                top: 7px;
                right: 8px;
            }
        }

        &-popover {
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.25s ease-in-out, visibility 0.25s;
        }

        &-arrow {
            position: absolute;
            height: $arrow-size;
            width: 24px;
            overflow: hidden;
            // box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.32);

            &::after {
                content: '';
                position: absolute;
                width: $arrow-size;
                height: $arrow-size;
                background-color: $color-zumthor;
                transform: rotate(45deg);
                box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.32);
            }
        }

        &-arrow-up {
            top: 20px;

            &::after {
                left: 0;
                transform-origin: bottom left;
            }
        }

        &-arrow-down {
            bottom: 20px;

            &::after {
                right: 0;
                transform-origin: top right;
            }
        }

        &-content-box {
            position: absolute;
            width: 288px;
            padding: 7px 40px 7px 16px;
            background-color: $color-zumthor;
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);

            @include breakpoint(bp-768px) {
                width: 274px; // This non-sense may be wrong...
            }

            &-above {
                bottom: $arrow-top-distance + $arrow-size;
            }

            &-below {
                top: $arrow-top-distance + $arrow-size;
            }
        }
    }

    .rs-payback__infoPopover--opened {
        .rs-payback__infoPopover {
            &-popover {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
