@import '../../assets/scss/variables';

#rs-payback {
  %payback-title-parent {
    font-weight: $font-weight-bold;
    line-height: 1.09;
    text-align: left;
    color: $color-shark-black;
  }

  .rs-payback__section--payback-points {
    font-family: $font-stack-UnitOT-regular;
    color: $color-curious-blue;
    margin-left: 0;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;

    .rs-payback__error {
      width: 100%;
      margin: 0;
    }

    .rs-payback__error-content {
      height: inherit;
      border: none;
      padding-bottom: 15px;

      @include breakpoint(bp-768px) {
        padding-bottom: 20px;
      }
    }
  }

  .payback-title-headline {
    @extend %payback-title-parent;
    border-bottom: 1px solid $color-grey-seperator;
    @include x-rem(font-size, 22px);
    flex-basis: calc(100% + 30px);
    margin: 0 -15px 15px;
    padding: 0 15px 15px;

    @include breakpoint(bp-768px) {
      margin: 0 0 15px;
      padding: 0;
    }
  }

  .payback-title-headline-colon {
    display: none;
  }

  .payback-title-totalpoints {
    @extend %payback-title-parent;
    @include x-rem(font-size, 38px);
    text-align: center;
    flex-grow: 1;

    padding-bottom: 15px;
  }

  .payback-sub-container-box {
    display: table;
    margin: 0 auto 15px;
    width: 234px;

    @include breakpoint(bp-480px) {
      float: right;
      margin: 0 0 15px;
    }
  }

  .payback-sub-container {
    flex-basis: 100%;
  }

  .rs-point-block__row {
    @include x-rem(font-size, 16px);
    color: $color-shark-black;
    text-align: right;
    display: table-row;
  }

  .rs-point-block__row--available {
    @extend .rs-point-block__row;
    font-weight: $font-weight-bold;
  }

  .rs-point-block__cell {
    display: table-cell;
    vertical-align: top;
  }

  .rs-point-block__cell--label {
    @extend .rs-point-block__cell;
    text-align: left;
  }

  .rs-point-block__locked-wrapper > div {
    display: inline;
    vertical-align: top;
  }

  .rs-point-block__icon {
    padding: 0 31px 0 8px;
  }

  //until 760
  @include breakpoint(bp-480px) {
    .payback-title-headline-colon {
      display: initial;
    }

    .payback-sub-container {
      flex-basis: 50%;
    }

    .payback-title-totalpoints {
      text-align: left;
    }
  }
  //up to the end
  @include breakpoint(bp-768px) {
    .rs-payback__section--payback-points {
      margin-left: 15px;
    }
    .payback-title-headline {
      border-style: none;
      margin-bottom: 0;
      padding: 0 0 8px;
      flex-basis: initial;
    }
    .payback-title-totalpoints {
      padding: 0 0 8px 0;
      @include x-rem(font-size, 22px);

      text-align: right;
    }

    .payback-sub-container {
      flex-basis: 100%;
    }

    .payback-sub-container-box {
      margin-right: 0;
    }

    .rs-point-block__cell--label {
      text-align: left;
    }
  }

  .rs-payback__section--payback-points {
    .rs-points-infoicon {
      cursor: pointer;
      vertical-align: sub;

      path {
        fill: none;
        stroke: $color-shark-black;
        stroke-width: 30px;
        stroke-opacity: 1;
      }

      path.rs-payback-infoicon-info {
        fill: $color-shark-black;
        stroke-width: 7px;
      }
    }
    .rs-points-tooltip-content {
      @include x-rem(font-size, 14px);
      text-align: left;
      color: #0046aa;
    }

    .rs-payback__hint .rs-payback__hint-paragraph + .rs-bubble {
      right: -42px;
      left: unset;
      width: 252px;
      top: 48px;

      border-color: #c1d6e7;
      background-color: #edf6ff;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);

      .rs-bubble__triangle--outer {
        right: 70px;
      }

      .rs-bubble__triangle--inner {
        right: 71px;
      }

      // Link style killed because of: "Kundenkonto_Meine Zugangsdaten_320 Copy 4"
      a {
        text-decoration: none;
        color: #0046aa;
      }
    }

    // Padding adjusted from: "Kundenkonto_Meine Zugangsdaten_320 Copy 4"
    .rs-bubble-content--points {
      padding: 15px 11px 17px 17px;
    }
  }

  .rs-payback__points-link-container {
    text-align: center;
    width: 100%;

    @include breakpoint(bp-480px) {
      text-align: right;
    }

    .rs-payback__points-link {
      color: $color-shark-black;
    }
  }
}
