@import '../../assets/scss/variables';

#rs-payback {
    .rs-payback__benefitTeaserBlock {
        &-content {
            display: flex;
        }

        &-content-desc {
            @include breakpoint(bp-1280px) {
                width: 70%;
                margin-right: 16px;
            }

            :last-child {
                margin-top: 8px;
                @include breakpoint(bp-768px) {
                    margin-top: 16px;
                }
            }
        }

        &-content-img {
            height: 109px;
            margin: 0 auto;
            display: none;
            @include breakpoint(bp-1280px) {
                display: inline;
            }
        }

        &-footer {
            display: flex;
            justify-content: flex-end;

            > .rs-payback__benefitTeaserBlock-button {
                flex-grow: 1;

                @include breakpoint(bp-768px) {
                    margin-top: 0;
                    flex-grow: initial;
                }
            }
        }
    }
}
