@import '../../assets/scss/variables';

/* Need for DUC as blocked element */
#rs-payback {
    .rs-payback__stackLayout > * {
        width: 100%;

        &:not(:first-child) {
            border-top: 1px solid $color-iron;
        }
    }
}
