@import '../../assets/scss/variables';

#rs-payback-number {
    .rs-payback-number__textInput {
        position: relative;
        font-family: $font-stack-UnitOT-regular;

        &-label {
            @include x-rem(font-size, 18px);
            color: #8c8c8c;
            left: 12px;
            right: 12px;
            position: absolute;
            top: 0;
            line-height: 48px;
            transition: all 0.2s ease-in-out;
            user-select: none;
            pointer-events: none;
        }

        &-input {
            @include x-rem(font-size, 18px);
            border: 1px solid $color-grey-medium;
            border-radius: 2px;
            box-sizing: border-box;
            color: $color-grey-darkest;
            display: block;
            font-weight: $font-weight-normal;
            height: 48px;
            line-height: 1;
            padding: 16px 8px;
            transition-duration: 0.2s;
            transition-property: background-color, color;
            transition-timing-function: ease-in-out;
            width: 100%;

            &--invalid {
                border-color: $color-rewered;
                color: $color-rewered;

                + .rs-payback-number__textInput-label {
                    color: $color-rewered;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            &:not([value=""]):valid,
            &:focus {
                padding: 16px 12px 0;
                outline: 0;
                border: 2px solid;

                + .rs-payback-number__textInput-label {
                    @include x-rem(font-size, 12px);
                    top: -12px;
                    text-align: left;
                }
            }

            &:enabled:hover{
                background-color: $color-ultralight-grey;
                border: 2px solid;
                transition: none;
            }

            &:disabled:focus {
                padding: 16px 8px;
                border: 1px solid $color-grey-medium;
                border-radius: 2px;
            }

            &:invalid {
                box-shadow: none; // Remove firefox default styling
            }

            &::-ms-clear {
                display: none;
            }
        }
    }

    .rs-payback-number__icon-close {
        background: url('../../assets/images/icon-gray-close.svg') 0 0 no-repeat;
        background-size: 24px;
        border: 0;
        cursor: pointer;
        right: 12px;
        position: absolute;
        top: 12px;
        text-indent: -10000px;
        width: 24px;
        height: 24px;
        z-index: 99;
       
      }
}
