@import '../../assets/scss/variables';
/* Need for DUC as blocked element */
#rs-payback {
  /* TODO: duplicated styles start */
  .rs-payback__section--bonus-coupon {
    .rs-payback__section-content {
      font-family: $font-stack-UnitOT-regular;
      font-weight: $font-weight-normal;
      @include x-rem(font-size, 16px);

      @include breakpoint(bp-480px) {
        padding-left: 160px;
        background: url('../../assets/images/bonus-coupon-transparent@3x.png');
        background-size: auto 90px;
        background-repeat: no-repeat;
        min-height: 90px;
      }
    }

    .rs-btn--large {
      margin-left: 0;
      width: 100%;
    }
    @include breakpoint(bp-480px) {
      .rs-btn--large {
        min-width: 200px;
        text-align: center;
        width: auto;
      }
    }
  }
}
