@import '../../assets/scss/variables';

#rs-payback {
    .rs-payback__benefitBlock {
        &-content {
            display: flex;
            flex-wrap: nowrap;
            margin-left: 16px;
            cursor: pointer;

            @include breakpoint(bp-768px) {
                flex-wrap: wrap;
                margin-left: 0;
            }
        }

        &-scroller {
            @include breakpoint(bp-max-768px) {
                height: 310px;
                margin: 0 -16px;
            }
        }

        &-row {
            display: flex;

            &:not(:first-child) {
                margin-left: 16px;

                @include breakpoint(bp-768px) {
                    margin-left: 0;
                }
            }
        }

        &-item {
            width: 176px;
            height: 238px;
            margin-left: 16px;

            @include breakpoint(bp-768px) {
                width: 100%;
                height: 100%;
            }

            &:not(:last-child) {
                margin-right: 16px;
            }
        }

        &-header {
            display: flex;
            flex-direction: column;

            @include breakpoint(bp-768px) {
                flex-wrap: nowrap;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            > .rs-payback__benefitBlock-button {
                margin-top: 16px;
                flex-grow: 1;

                @include breakpoint(bp-768px) {
                    margin-top: 0;
                    flex-grow: initial;
                }
            }
        }

        &-footer {
            display: flex;
            justify-content: flex-end;

            > .rs-payback__benefitBlock-button {
                flex-grow: 1;

                @include breakpoint(bp-768px) {
                    margin-top: 0;
                    flex-grow: initial;
                }
            }
        }
    }
}
