@import '../../assets/scss/variables';

/* Need for DUC as blocked element */
#rs-payback {

  .rs-ribbon {
    @include x-rem(font-size, 13px);
    background-color: $color-curious-blue;
    color: $color-white;
    display: inline-block;
    font-weight: $font-weight-normal;
    height: 20px;
    line-height: 20px;
    margin: 0 0 15px -10px;
    padding: 0 0 0 10px;
    position: relative;
    text-align: center;

    &::after {
      border: 10px solid $color-curious-blue;
      border-right-color: transparent;
      bottom: 0;
      content: '';
      display: block;
      position: absolute;
      right: -20px;
    }

    @include breakpoint(bp-768px) {
      float: right;
      margin: -33px 15px 0 0;
    }
  }

  .rs-payback__section-head {
    background-color: $color-ultralight-sand;
    border-bottom: 1px solid $color-grey-medium;
    border-radius: 4px 4px 0 0;
    color: $color-grey-darkest;
    font-family: $font-stack-UnitOT-regular;
    font-weight: $font-weight-normal;
    padding: 0 15px;
    position: relative;
    text-align: center;

    @include breakpoint(bp-768px) {
      text-align: left;
    }
  }

  .rs-payback__section-headline {
    @include x-rem(font-size, 18px);
    font-weight: $font-weight-normal;
    height: 45px;
    line-height: 45px;
    margin: 0;
  }
}
