@import '../../assets/scss/variables';
/* Need for DUC as blocked element */
#rs-payback {

    .rs-payback__text-input {
        border: 1px solid $color-grey-medium;
        border-radius: 2px;
        box-sizing: border-box;
        color: $color-grey-darkest;
        display: block;
        font-family: $font-stack-UnitOT-regular;
        font-weight: $font-weight-normal;
        @include x-rem(font-size, 18px);
        height: 44px;
        line-height: 1;
        padding: 16px 8px;
        transition-duration: 0.2s;
        transition-property: background-color, color;
        transition-timing-function: ease-in-out;
        width: 100%;
    }

    .rs-payback__text-input--invalid {
        border-color: $color-rewered;
        color: $color-rewered;

        & + .rs-payback__text-label {
            color: $color-rewered;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .rs-payback__text-label {
        color: $color-grey-dark;
        @include x-rem(font-size, 18px);
        left: 10px;
        right: 10px;
        position: absolute;
        top: 0px;
        line-height: 44px;
        transition: all 0.2s ease-in-out;
    }

    .rs-payback__text-input {
        &:valid,
        &:focus {
            padding: 16px 10px 0;
        }

        &:focus {
            outline: 0;
        }

        &:valid + .rs-payback__text-label,
        &:focus + .rs-payback__text-label {
            @include x-rem(font-size, 12px);
            top: -12px;
            text-align: left;
        }
    }

    @include breakpoint(bp-768px) {
        flex-direction: row;

        .rs-payback__text-input {
            max-width: 500px;
            width: 95%;
        }

        .rs-payback-form__form-row {
            flex-grow: 1;
            flex-shrink: 1;
            width: auto;

            &--formactions,
            &--submit {
                flex-grow: 0;
                order: 2;
                padding: 10px 0 0;
                text-align: right;
            }

            &--formexplanation {
                order: 3;
                padding: 5px 0 0;
                width: 100%;
            }
        }
    }
}
