@import '../../assets/scss/variables';
/* Need for DUC as blocked element */
#rs-payback {
  /* TODO: duplicated styles start */
  .rs-payback__section--ebon {
    .rs-payback__section-content {
      font-family: $font-stack-UnitOT-regular;
      font-weight: $font-weight-normal;
      @include x-rem(font-size, 16px);

      @include breakpoint(bp-480px) {
        padding-left: 160px;
        @include background-image-retina( '../../assets/images/img-logo-ebon', 'png', 92px, 92px);
        background-repeat: no-repeat;
        min-height: 90px;
      }
    }

    .rs-btn--large {
      margin-left: 0;
      width: 100%;
    }
    @include breakpoint(bp-480px) {
      .rs-btn--large {
        min-width: 200px;
        text-align: center;
        width: auto;
      }
    }
  }

  .rs-payback-accordion__content {
    .rs-payback-advantages-list {
      list-style: none;
      margin: 20px 0;
      padding: 0;

      .rs-payback-advantages-list__listelement {
        background-position: center top;
        background-repeat: no-repeat;
        counter-increment: step-counter;
        line-height: 1.2;
        text-align: center;

        @include breakpoint(bp-480px) {
          display: table;
          text-align: left;
        }

        &::before {
          color: $color-curious-blue;
          content: 'Schritt ' counter(step-counter) ':';
          display: block;
          font-family: $font-stack-UnitOT-regular;
          font-weight: $font-weight-bold;
          margin: 10px 0 0;
        }

        &:nth-child(1) {
          @include background-image-retina( '../../assets/images/img-ebon-step-01', 'png', 72px, 78px);
          padding-top: 73px;
        }

        &:nth-child(2) {
          @include background-image-retina( '../../assets/images/img-ebon-step-02', 'png', 72px, 78px);
          padding-top: 66px;
        }

        &:nth-child(3) {
          @include background-image-retina( '../../assets/images/img-ebon-step-03', 'png', 72px, 78px);
          padding-top: 86px;
        }
      }

      .rs-payback-advantages-list__listelement
        + .rs-payback-advantages-list__listelement {
        margin-top: 20px;
      }
      @include breakpoint(bp-480px) {
        .rs-payback-advantages-list__listelement {
          background-position: left top;

          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            height: 86px;
            padding: 0 0 0 100px;
          }
        }
      }
    }

    .rs-definitionlist {
      .rs-definitionlist__item,
      .rs-definitionlist__term {
        display: inline;
        height: 22px;
        line-height: 22px;
        text-align: left;
      }

      .rs-definitionlist__term {
        @include breakpoint(bp-480px) {
          width: 45%;
        }
        @include breakpoint(bp-768px) {
          width: 35%;
        }
      }

      .rs-definitionlist__item {
        display: inline;
        font-family: $font-stack-UnitOT-regular;
        font-weight: $font-weight-medium;
        margin: 0;
        @include breakpoint(bp-480px) {
          width: 55%;
        }
        @include breakpoint(bp-768px) {
          width: 65%;
        }
      }
    }
  }
}
