@import '../../assets/scss/variables';

/* Need for DUC as blocked element */
.rs-payback__paybackModuleBlock {
  width: calc(100% + 30px);
  margin: 0 -15px;

  @include breakpoint(bp-768px) {
    width: calc(100% + 40px);
    margin: 0 -20px;
  }
}
#rs-payback {
  .rs-payback__block {
    background-color: $color-pbblue;
    color: $color-curious-blue;
    padding: 1px;
    position: relative;
    text-align: center;

    @include breakpoint(bp-768px) {
      @include x-rem(font-size, 18px);
      display: block;
      font-family: $font-stack-UnitOT-regular;
      line-height: 1;
    }
  }
    .rs-payback__block_title_block {
        background-color: $color-pbblue;
        color: $color-black;
        padding: 5px;

        position: relative;
        text-align: left;

        .rs-payback__block_title_block_with_text {
          background-color: $color-pbblue;

          border-bottom: 1px solid $color-grey-seperator;
          padding: 5px 0;
          position: relative;

          text-align: left;

                @include breakpoint(bp-768px) {
                  @include x-rem(font-size, 18px);
                  display: block;
                  font-family: $font-stack-UnitOT-regular;
                  line-height: 1;
                  @include background-image-retina( '../../assets/images/payback-2014-1075-pointee', 'png', 337px, 117px);
                  background-position: 800px 20px;
                  background-repeat: no-repeat;
                  content: '';
                }
        }

        .rs-payback__block_title_voucher_block_with_text {
          background-color: $color-pbblue;
          border-bottom: 1px solid $color-grey-seperator;
          position: relative;
          text-align: left;

                 @include breakpoint(bp-768px) {
                    @include x-rem(font-size, 18px);
                    display: block;
                    font-family: $font-stack-UnitOT-regular;
                    line-height: 1;
                    @include background-image-retina( '../../assets/images/asset-guthaben-neu-2', 'png', 180px, 100px);
                    background-position: 950px 5px;
                    background-repeat: no-repeat;
                  }

          }

        .rs-payback__block_title-headline {
          @include x-rem(font-size, 18px);
          font-family: $font-stack-UnitOT-regular;
          font-weight: $font-weight-medium;
          margin-top: 15px;
          padding-left: 30px;

          @include breakpoint(bp-768px) {
            @include x-rem(font-size, 20px);
            margin-bottom: 4px;
          }
        }
        .rs-payback__block_title-subheadline {
          @include x-rem(font-size, 15px);
          font-family: $font-stack-UnitOT-regular;
          font-weight: $font-weight-medium;
          margin-top: 12px;
          padding-left: 30px;

          @include breakpoint(bp-768px) {
            @include x-rem(font-size, 14px);
            margin-bottom: 4px;
          }
        }

        .rs-payback___block_title-text {
          width: 50%;
          @include x-rem(font-size, 15px);
          font-family: $font-stack-UnitOT-regular;
          font-weight: $font-weight-normal;
          margin-top: 12px;
          padding-bottom: 10px;
          padding-left: 30px;

          @include breakpoint(bp-768px) {
            @include x-rem(font-size, 14px);
            margin-bottom: 4px;
          }
        }



        @include breakpoint(bp-1340px) {
          margin-top: 30px;
        }
      }


 
}
