@import '../../assets/scss/variables';

#rs-payback-number {
    .rs-payback-number__component {
        font-family: $font-stack-UnitOT-regular;
        color: $color-grey-darkest;
        background-color: #ffffff;
        transition: max-height 0.5s ease;

        &-header {
            height: 24px;
            margin-bottom: 12px;
            font-weight: $font-weight-medium;
            font-size: 16px;         
            color: $color-grey-darkest;
            display: flex;

            &-logo {
                height: 28px;
                width: 28px;
                margin-bottom: 12px;
            }

            &-title {
                margin-left: 10px;
                align-self: center;
            }
        }

        &-content {
            max-height: 48px;
            margin-bottom: 8px;

            &-textInput {
                margin: 0px;
                &-input {
                    width: 100%;
                }
            }
        }

        &-footer {
            font-size: 14px;
            line-height: 1.4;        
            color: $color-grey-darkest;

            &-limit {
                color: $color-rewered;
                margin-bottom: 8px;
            }

            &-hint {
                padding-bottom: 10px;
            }
        }
    }
    .rs-payback-number__component-footer-checkbox-group {
        animation: fadeIn 0.2s forwards ease-in;

        @keyframes fadeIn {
            from { opacity: 0.6;}
            to {opacity: 1;}
        }
    }
    .rs-payback-number__component-footer-checkbox-label {
        font-weight: $font-weight-medium;
        cursor: pointer;
        display: inline-block;
        min-height: 40px;
        padding-left: 44px;
        padding-top: 4px;
        position: relative;
        text-align: left;
        transition: all 1s ease-in;

        &::before {
            background-color: $color-white;
            border: 1px solid $color-grey-darkest;
            border-radius: 2px;
            content: '';
            display: inline-block;
            left: 0;
            height: 30px;
            width: 30px;
            top: 10px;
            position: absolute;
        }
        
        &:hover::before{
            background-color: $color-ultralight-grey;
            border: 2px solid;
        }
    }
    .rs-payback-number__component-footer-checkbox {
        opacity: 0;
        position: absolute;

        &-label {
            user-select: none;
            color: $color-grey-darkest
        }
    
        &:checked + .rs-payback-number__component-footer-checkbox-label::before {
          background-image: url('../../assets/images/icon-valid.svg');
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 20px 16px;
        }
      }
}
