@import '../../assets/scss/variables';
/* Need for DUC as blocked element */
#rs-payback {
  /* TODO: duplicated styles start */
  .rs-payback__section-subcontent {
    align-items: center;
    background: $color-white;
    color: $color-grey-darkest;
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
    font-family: $font-stack-UnitOT-regular;
    font-weight: $font-weight-normal;
    justify-content: space-between;
    @include x-rem(font-size, 16px);
    margin-bottom: 15px;
    padding: 10px 15px;
    position: relative;
    > p {
      margin: 0;
    }
    @include breakpoint(bp-768px) {
      > p {
        width: 60%;
      }

      p {
        flex: 0 0 auto;
        line-height: 1.2;
        order: 1;
      }
    }

    .rs-accordion {
      order: 3;
      width: 100%;
    }

    .rs-btn {
      flex: 0 0 auto;
      order: 2;
      margin: 0 auto;
      width: 100%;

      @include breakpoint(bp-480px) {
        max-width: 200px;
      }
      @include breakpoint(bp-768px) {
        margin: 15px 0 0;
      }
    }
  }
}
