@import '../../assets/scss/variables';

#rs-payback,
.payback-kv-button {
    .rs-payback__textInput {
        position: relative;
        font-family: $font-stack-UnitOT-regular;

        &-label {
            @include x-rem(font-size, 18px);
            color: $color-grey-dark;
            left: 12px;
            right: 12px;
            position: absolute;
            top: 0;
            line-height: 48px;
            transition: all 0.2s ease-in-out;
            user-select: none;
        }

        &-input {
            @include x-rem(font-size, 18px);
            border: 1px solid $color-grey-medium;
            border-radius: 2px;
            box-sizing: border-box;
            color: $color-grey-darkest;
            display: block;
            font-weight: $font-weight-normal;
            height: 48px;
            line-height: 1;
            padding: 16px 8px;
            transition-duration: 0.2s;
            transition-property: background-color, color;
            transition-timing-function: ease-in-out;
            width: 100%;

            &--invalid {
                border-color: $color-rewered;
                color: $color-rewered;

                + .rs-payback__textInput-label {
                    color: $color-rewered;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            &:valid,
            &:focus {
                padding: 16px 12px 0;
                outline: 0;

                + .rs-payback__textInput-label {
                    @include x-rem(font-size, 12px);
                    top: -12px;
                    text-align: left;
                }
            }

            &:invalid {
                box-shadow: none; // Remove firefox default styling
            }
        }
    }
}
