@import '../../assets/scss/variables';

.rs-payback__consentFormBlock {
  &-content {
    @include breakpoint(bp-480px) {
      padding-left: 160px;
      @include background-image-retina( '../../assets/images/asset-pointee-marketing', 'png', 90px, 114px);
      background-repeat: no-repeat;
    }
  }
}