@import '../../assets/scss/variables';

#rs-payback {
    .rs-payback__mainTitle {
        @include x-rem(font-size, 24px);
        @include x-rem(line-height, 32px);
        font-family: $font-stack-UnitOT-regular;
        font-weight: $font-weight-medium;
        color: $color-grey-darkest;
        margin: 0;
    }
}
