@import '../../assets/scss/variables';

#rs-payback {
    .rs-payback__questions--content {
        font-family: $font-stack-UnitOT-regular;
        font-size: 16px;
        line-height: 1.5;
        color: #4a4a4a;
        margin: 0 0 8px;
    }
}
