@import '../../assets/scss/variables';

#rs-payback {
  .rs-payback__serviceView {
    &-container {
      display: flex;
      flex-wrap: wrap;
      @include breakpoint(bp-768px) {
        flex-wrap: nowrap;
      }
    }
    .rs-payback__section--payback {
      flex-basis: 100%;
      @include breakpoint(bp-768px) {
        flex-basis: 70%;
      }
    }
    .rs-payback__section--payback-points {
      flex-basis: 100%;
      @include breakpoint(bp-768px) {
        flex-basis: 440px;
        flex-grow: 1;
      }
    }
  }
}