@import '../../assets/scss/variables';

/* Need for DUC as blocked element */
#rs-payback {

  .rs-accordion {
    background: $color-white;
    color: $color-grey-darkest;
    @include x-rem(font-size, 16px);
    font-family: $font-stack-UnitOT-regular;
    font-weight: $font-weight-normal;
    margin-bottom: -10px;
    padding: 15px 15px 0;
    transition: all 200ms cubic-bezier(0.6, -0.28, 0.735, 0.045);

    .rs-accordion__title {
      margin: 0 -15px;
      padding: 0;
      text-align: center;

      @include breakpoint(bp-768px) {
        padding: 0 15px;
        text-align: left;
      }

      .rs-payback-form__checkbox ~ .rs-accordion__link {
        display: inline-block;
        padding-left: 46px;
        text-align: left;
        width: 100%;

        @include breakpoint(bp-768px) {
          height: 36px;
          line-height: 36px;
          width: auto;
        }
      }
    }

    .rs-accordion__link {
      color: $color-rewered;
      margin: 10px 0;
      @include x-rem(font-size, 14px);
      text-decoration: none;

      &::before {
        border-color: $color-rewered transparent transparent transparent;
        border-style: solid;
        border-width: 5px 4px 0;
        content: '';
        display: inline-block;
        height: 0;
        margin: -2px 3px 0 0;
        vertical-align: middle;
        width: 0;
      }
    }

    .rs-accordion__content {
      border-top: 1px solid $color-ultralight-sand;
      margin: 10px -15px 0;
      padding: 0;
      text-align: left;
    }

    p {
      @include x-rem(font-size, 16px);
      line-height: 1.25;
    }

    @include breakpoint(bp-768px) {
      padding: 0 15px 0;
      p,
      .rs-accordion__link {
        margin: 0;
      }

      .rs-accordion__content {
        text-align: left;
      }
    }
  }

  .rs-accordion--active {
    .rs-accordion__link {
      &::before {
        border-color: transparent transparent $color-rewered transparent;
        border-width: 0 4px 5px;
      }
    }

    .rs-accordion__content {
      border-color: $color-grey-medium;
      padding: 10px 0;
    }
  }

  .rs-accordion,
  .rs-accordion--active {
    .rs-accordion__content {
      max-height: 0;
      overflow: hidden;
      transition: all 350ms cubic-bezier(0.08, 1.09, 0.32, 1.275);
    }
  }

  .rs-accordion--active {
    .rs-accordion__content {
      max-height: 2000px;
    }
  }

  .rs-accordion ~ .rs-btn {
    float: right;
    margin-bottom: 15px;
  }
}
