@import '../../assets/scss/variables';

#rs-payback,
.rs-payback-banner {
    .rs-payback__blockHeader {
        @include x-rem(font-size, 18px);
        @include x-rem(line-height, 28px);
        color: $color-grey-darkest;
        font-family: $font-stack-UnitOT-regular;
        font-weight: $font-weight-medium;
        margin: 0;
    }
}
