@import '../../assets/scss/variables';
/* Need for DUC as blocked element */
#rs-payback,
.payback-kv-button {
    .rs-payback__dialog {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        @include breakpoint(bp-768px) {
            align-items: center;
        }
    }

    .rs-payback__dialog-content {
        background-color: $color-white;
        width: 100%;
        box-shadow: 0 1px 0 0 $color-grey-medium;

        @include breakpoint(bp-768px) {
            border-radius: 4px;
            max-width: 450px;
        }
    }
}
