@import '../../assets/scss/variables';

#rs-payback {
    .rs-payback__activationView {
        background-color: $color-grey-light;
        box-sizing: border-box;
        padding: 16px 0;
        border-radius: 2px;
        border: solid 1px $color-grey-disabled;

        @include breakpoint(bp-768px) {
            .rs-payback__activationView-content {
                flex-wrap: nowrap;
                margin: 16px;

                &-sibling:not(:first-child) {
                    margin-left: 16px;
                    margin-top: 0;
                }
            }
        }

        &-content {
            display: flex;
            flex-wrap: wrap;

            &-sibling {
                display: flex;
                width: 100%;
            }

            + .rs-payback__activationView-title {
                margin-top: 16px;
                @include breakpoint(bp-1024px) {
                    margin-top: 24px;
                }
            }
        }

        > .rs-payback__activationView-title {
            margin-left: 16px;
            margin-right: 16px;
        }

        &-content:not(:first-child),
        &-content-sibling:not(:first-child) {
            margin-top: 16px;
        }
    }


}
