@import '../../assets/scss/variables';

.rs-payback__containerblock {
  font-family: $font-stack-UnitOT-regular;
  font-weight: $font-weight-normal;
  border-radius: 4px;

  &-content {
    &:first-child {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      border-bottom: 1px solid $color-grey-seperator;
      padding: 0 15px 15px;
      margin: 0 -15px;

      @include breakpoint(bp-768px) {
        border-bottom: 0;
        padding: 0;
        margin: 0;
      }
    }

    &:first-child.rs-payback__containerblock-content--no-divider {
      border-bottom: 0;
      padding: 0;
      margin: 0;
    }

    & + & {
      margin-top: 15px;
      @include breakpoint(bp-768px) {
        margin-top: 30px;
      }
    }
  }

  &-item {
    @include breakpoint(bp-980px) {
      &:first-child {
        max-width: 60%;
      }
    }
  }

  &-headline {
    margin: 0;
    @include x-rem(font-size, 22px);

    @include breakpoint(bp-768px) {
      @include x-rem(font-size, 24px);
    }
    
  }
  &-subline { 
    @include x-rem(margin, 5px 0 0);
    @include breakpoint(bp-768px) {
      font-weight: $font-weight-medium;
    }
  }
  &-text {
    @include x-rem(margin, 5px 0 0);
  }

  &-img {
    max-height: 120px;
  }
}