@import '../../assets/scss/variables';
/* Need for DUC as blocked element */
#rs-payback,
.payback-kv-button {
  .rs-modal {
    @include x-rem(font-size, 18px);
    @include x-rem(line-height, 22px);
    background: rgba(74, 74, 74, 0.8);
    bottom: 0;
    font-family: $font-stack-UnitOT-regular;
    font-weight: $font-weight-normal;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 9999;
  }

  .rs-modal__holder {
    background-color: $color-ceramic;
    left: 50%;
    max-width: 600px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 30px);
    padding: 30px 15px 15px;
    height: auto;
    max-height: 90%;
    overflow-y: auto;

    &:not(.scrollable) {
      @include breakpoint(bp-768px) {
        padding: 30px 20px 15px;
      }

      @include breakpoint(bp-1024px) {
        padding: 30px 50px 15px;
      }
    }

    &.scrollable {
      @include breakpoint(bp-768px) {
        padding-left: 15px;
        padding-right: 15px;
      }

      .rs-modal__closelink {
        right: -10px;
        top: -35px;
      }
    }
  }

  .rs-modal__header {
    position: relative;

    .rs-modal__title {
      @include x-rem(font-size, 18px);
      color: $color-lima;
      font-family: $font-stack-UnitOT-regular;
      font-weight: $font-weight-bold;
      line-height: 1.44;
    }

    .rs-modal__closelink {
      background: url('../../assets/images/icon-close.svg') 0 0 no-repeat;
      background-size: 24px;
      border: 0;
      cursor: pointer;
      height: 24px;
      position: absolute;
      right: -10px;
      text-indent: -10000px;
      top: -35px;
      width: 24px;

      @include breakpoint(bp-768px) {
        right: -15px;
      }

      @include breakpoint(bp-1024px) {
        right: -45px;
      }
    }
  }

  .rs-modal__body {
    color: $color-lima;
    position: relative;
    @include x-rem(font-size, 16px);
    font-family: $font-stack-UnitOT-regular;
    font-weight: $font-weight-normal;

    .rs-modal__content {
      &.scrollable {
        background-color: $color-ultralight-sand;
        margin: 0 -15px;
        padding: 0 15px;
        text-align: left;
        max-height: 200px;
        overflow-y: scroll;

        @include breakpoint(bp-768px) {
          border: 1px solid #e0e0e0;
          margin: 0;
          max-height: 434px;
          padding-left: 15px;
          padding-right: 15px;
        }
      }
      .contentAlignmentL{
          text-align:left;
      }
    }
  }

  .rs-modal__footer > div {
    margin: 30px 0 0;

    display: flex;
    justify-content: space-around;

    @include breakpoint(bp-768px) {
      display: flex;
      justify-content: space-around;
    }

    .rs-btn {
      width: 100%;
      margin-bottom: 12px;

      @include breakpoint(bp-480px) {
        min-width: 200px;
        width: auto;
      }
    }

    .rs-btn + .rs-btn {
      @include breakpoint(bp-768px) {
        margin: 0 0 0 auto;
      }
    }
  }

  /* WARNING MODAL */
  .rs-modal.rs-modal--warning {
    .rs-modal__holder {
      background-color: $color-white;
    }

    .rs-modal__header .rs-modal__title,
    .rs-modal__body {
      color: $color-grey-darkest;
    }
  }

  /* ERROR MODAL */
  .rs-modal.rs-modal--error {
    .rs-modal__holder {
      background-color: $color-rose-white;
    }

    .rs-modal__header .rs-modal__title,
    .rs-modal__body {
      color: $color-rewered;
    }
  }

  .rs-modal__list {
    text-align: center;
    list-style: none;
    padding: 0;
  }
  .rs-modal__listItemBullet {
    &:before {
      content: '\2022';
      margin-right: 5px;
      font-weight: $font-weight-bold;
    }
  }
}
