@import '../../assets/scss/variables';
/* Need for DUC as blocked element */
#rs-payback {
  margin: 0;
  /* TODO: duplicated styles start */
  .rs-payback__section--payback {
    font-family: $font-stack-UnitOT-regular;
    font-weight: $font-weight-normal;
    padding-bottom: 0; 
    @include breakpoint(bp-768px) {
        padding-bottom: 5px;
      }

    .rs-payback__section-wrappable-head {
      font-weight: $font-weight-bold;
      line-height: 1.09;
      text-align: left;
      border-bottom: 1px solid $color-grey-seperator;
      @include x-rem(font-size, 22px);
      flex-basis: calc(100% + 30px);
      margin: 0 -15px 15px;
      padding: 0 15px 15px;

      @include breakpoint(bp-768px) {
        margin: 0 0 15px;
        padding: 0;
        border-bottom: none;
      }

      @include breakpoint(bp-1024px) {
        width: 170px;
        float: left;
      }
    }

    .rs-payback__section-content {
      text-align: center;
      @include x-rem(font-size, 16px);

      @include breakpoint(bp-768px) {
        text-align: left;
      };
    }

    .rs-btn--large {
      margin-left: 0;
      width: 100%;
      @include breakpoint(bp-768px) {
        margin-top: 0;
      }
    }
  }

  /* TODO: duplicated styles end */

  .rs-data__form--payback {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    .rs-payback-form__form-row {
      flex: 1 0 auto;
      position: relative;
      margin-bottom: 15px;

      &--input {
          flex-basis: 100%;
          flex-grow: 1;

        .rs-payback__text-input{
          width: 100%;
          max-width: inherit;
        }

        @include breakpoint(bp-1024px) {
          margin-right: 0px;
        }

        @include breakpoint(bp-1340px) {
          margin-right: 20px;
          flex-basis: initial;
        }
      }

      &--submit {
        flex-basis: initial;
        flex-grow: 1;
      }

      &--submit-single {
        @include breakpoint(bp-1340px) {
          min-width: 100px;
          flex-grow: 0;
        }
      }

      &--formexplanation {
        text-align: left;
        flex: 1 100%;
      }
    }

    .rs-simplenav {
      margin-top: 0;

      @include breakpoint(bp-768px) {
        margin-top: 0;
      }
    }

    .rs-simplenav__list {
      display: flex;
      justify-content: space-between;
      list-style: none;
      margin-top: 0;
      padding-left: 0;
      margin-bottom: 0;
    }

    .rs-simplenav__listitem {
      @include x-rem(font-size, 16px);
      width: 100%;

      @include breakpoint(bp-480px) {
        max-width: 240px;
      }
    }

    .rs-simplenav__listitem + .rs-simplenav__listitem {
      margin-left: 15px;
    }

    @include breakpoint(bp-768px) {

      .rs-payback-form__form-row {
        &--formactions,
        &--submit {
          padding: 0;
          text-align: left;
        }

        &--formexplanation {
          padding: 5px 0 0;
          width: 100%;
        }
      }
    }
  }

  .rs-data__form--inactive {
    @include breakpoint(bp-1024px) {
      margin-bottom: 0;
    }

    .rs-payback__text-input {
      background-color: $color-ultralight-sand;
      padding: 0 10px;
      @include x-rem(font-size, 26px);
    }

    .rs-payback__text-label {
      display: none;
    }

    //@include breakpoint(bp-1340px) {

    //}
  }

  .rs-data__form--active {
    .rs-payback-form__form-row {
      &--formactions {
        display: none;
      }
    }
  }

  .rs-modal__holder {
    &.scrollable {
      .rs-ewe-terms {
        .rs-ewe-terms__paragraph,
        .rs-ewe-terms__listelement {
          @include x-rem(font-size, 14px);
          @include x-rem(line-height, 17px);

          @include breakpoint(bp-768px) {
            @include x-rem(font-size, 16px);
            @include x-rem(line-height, 26px);
          }

          strong {
            font-family: $font-stack-UnitOT-regular;
            font-weight: $font-weight-bold;
          }

          a {
            text-decoration: underline;
          }
        }

        .rs-ewe-terms__list {
          padding: 0;
          margin: 0 0 15px 20px;
        }

        .rs-ewe-terms__listelement {
          list-style: disc outside;
          padding: 0 0 0 10px;
        }
      }
    }
  }
}
