@import '../../assets/scss/variables';

#rs-payback {
    .rs-payback__benefitItem {
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 16px 0 0;
        @include breakpoint(bp-768px) {
            padding: 16px 0;
        }

        &-selected {
            border-radius: 2px;
            border: solid 2px $color-lima;

            &-triangle {
                position: absolute;
                left: 0;
                top: 0;
                width: 0;
                height: 0;
                border-top: 50px solid $color-lima;
                border-right: 50px solid transparent;
            }

            &-icon {
                position: absolute;
                left: 10px;
                top: 10px;
                width: 14.3px;
                height: 10.3px;
                fill: $color-white;
            }
        }

        &-disabled {
            opacity: 0.25;
        }

        &-img-box {
            height: 110px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-desc-box {
            > :last-child {
                margin-top: 8px;
            }
        }
    }
}
